<div class="modal-body">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4>Name:</h4>
                <input matInput type="text"  class="value-input" [(ngModel)]="name">
            </div>
        </div>
        <div class="row" *ngIf="success === false">
            <div class="col-12 failure">
                <span>Something went wrong!</span>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div style="display: flex; justify-content: flex-end">
            <button  type="button" mat-raised-button [disabled]="success" color="primary" (click)="createCourse()">Create</button>
        </div>
    </div>
</div>
